html,
body,
#root {
  height: 100%;
}

p {
  margin-block-start: 0;
}

.react-grid-item.react-grid-placeholder {
  background: gray;
}

.react-grid-item.react-grid-item > .react-resizable-handle::after {
  border-color: white;
}

.card__drawing .excalidraw .App-bottom-bar > .Island {
  min-width: unset;
  width: 350px;
}

.card__drawing .excalidraw .ToolIcon[title*="Insert image"] {
  display: none;
}
