html,
body,
#root {
  height: 100%;
}

h2,
h3,
p,
ul,
ol {
  margin-block: 4px;
}

.react-grid-item.react-grid-placeholder {
  background: gray;
}

.react-grid-item.react-grid-item > .react-resizable-handle::after {
  mix-blend-mode: difference;
  border-color: white;
}

.card__drawing .excalidraw .App-bottom-bar > .Island {
  min-width: unset;
  width: 350px;
}
